@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
  overflow-x: hidden;
}

.un {
  background-image: linear-gradient(#64ffda 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.un:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

.skills li::before {
  content: "\00BB";
  margin-right: 5px;
  color: #64ffda;
}

.skills li:hover {
  color: #64ffda;
}

.skills li {
  transition: all linear 0.3s;
}

.name {
  background: linear-gradient(to right, #e21862, #784dd2, #ffffff, #e21862);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 4s;
  animation-name: backanim;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  font-size: 5rem;
}

@keyframes backanim {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.imagediv {
  filter: drop-shadow(15px 15px 0px #64ffda);
  transition: all linear 0.2s;
}

.imagediv:hover {
  transform: scale(1.02);
  filter: drop-shadow(10px 10px 0px #64ffda);
}

.text-red {
  color: red;
  font-weight: bold;
}

.text-yellow {
  color: yellow;
  font-weight: bold;
}

.text-blue {
  color: blue;
  font-weight: bold;
}

.text-green {
  color: green;
  font-weight: bold;
}

.bar-content li::before {
  content: "\00BB";
  margin-right: 10px;
  color: #64ffda;
}

.wmde-markdown{
  padding: 3rem 5rem 3rem 5rem;
}